body {
    font-family: Arial;
    margin: 0;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
}

th {
    background-color: #ccc;
    padding: 10px;
    text-align: left;
    border: 1px solid #000;
}

td {
    border: 1px solid #000;
    padding: 8px;
}

.float-box {
    float: left;
    margin-right: 10px;
}

.pos-box {
    position: relative;
    background-color: #f0f0f0;
    padding: 15px;
    margin: 10px 0;
}

.abs-elem {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #999;
    color: white;
    padding: 5px;
}

a {
    color: blue;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.contact-block{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: -256px;

    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: orange;
    padding: 10px;
    width: 250px;
    transition: all 0.4s ease-in-out;
}

.contact-block:hover{
    left: 0px;
}